@import '~bootstrap/scss/bootstrap';
@import 'partials/variables';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	overflow: hidden;
	a {
		color: inherit;
		text-decoration: none;
	}
	p,
	span {
		color: rgb(60, 60, 60);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $blueHeadings;
	}
	header {
		border-bottom: 1px solid rgb(212, 212, 212);
		h2 {
			font-weight: 700;
			color: $brandColor;
		}
	}
	section {
		height: calc( 100vh - 78px );
	}
}


.btn-brand {
	font-size: 0.85rem;
	color: white;
	text-transform: uppercase;
	background-color: $brandColor;
}


div.card {
	border-radius: 10px;
	border: none;
}

div#pagination{
	nav {
		width: fit-content;
		margin: 0 auto;
	}
}

section#comic-detail {
	div.row {
		div#comic-info {
			span {
				font-size: 0.88rem;
			}
		}
	}
}

section#add-form {
	background-color: rgb(253, 242, 239);
	label {
		font-weight: 400;
		color: $blueHeadings;
	}
}